.root{
    border: 3px solid orange;
    border-radius: 15px;
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
    font:caption;
}

li, p{
    margin-left: 10px;
    text-align: left;
}