.layout{
    max-width: 1200px;
    padding: 0 3rem;
    margin: 1rem auto;
}

.light{
    background-color: blanchedalmond;
    color:black;
}

.dark{
    background-color: rgb(40, 36, 36);
    color:white;
}