// html, body{
//     margin: 0 auto;
//     box-sizing: border-box;
//     background-color: rgb(255, 232, 206);
//     color: black;
// }

a {
    color: black;
    font-size: 18px;
    text-decoration: none;
    cursor: pointer;
}

// body .dark{
//     color: white;
//     background-color: black;
// }